body {
  margin: 0px;
  width: 1012px;
  padding: 50px 10%;
}

.game {
  width: 1012px;
  height: 569px;
  position: relative;
}

.title {
  height: 35px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 30%;
  right: 30%;
  border: 2px solid black;
  background-color: white;
}

#display {
  padding: 7px 0px;
  font-weight: bold;
}

.newGame {
  height: 45px;
  width: 200px;
  position: absolute;
  display: inline-block;
  justify-content: space-around;
  display: flex;
  top: 0px;
  right: 0px;
}
.click:hover {
  cursor: pointer;
}
.black {
  border: 2px solid black;
  background: white;
  font-weight: bold;
}

#defuse {
  position: absolute;
  left: 45%;
  top: 43%;
  background: none;
}