html, body, input, textarea {
  background-color: #eeeeee;
}
html, body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}
header {
  height: 300px;
  width: 100%;
  color: white;
  margin: 0px;
  background: url(../assets/bannerBackgroundImage_zdpd5qpvi3f01.jpg);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 150%;
  text-transform: uppercase;
}
h1 {
  font-weight: 100;
  letter-spacing: 2em;
  margin: 40px auto;
  padding-left: 2em;
}

label, input, textarea {
  width: 99%;
  max-width: 99%;
  height: 50px;
  font-size: 25px;
  margin: 5px 0px;
}

.container {
  margin: 20px 10px;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  height: 100%;
}

main {
  width: 60%;
  background-color: white;
}
main > div {
  margin: 10px;
}

aside {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #4aa3df;
  outline: none;
  border: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 5px #999;
}
button:hover {
  filter: brightness(110%);
  cursor: pointer;
}
button:active {
  box-shadow: 0 3px 5px #666;
  transform: translateY(2px);
}
.title {
  max-height: 1000px;
  background-color: #f5f5f5;
  display:flex;
  flex-direction: column;
}
.aboutSpace {
  background-color: #fbfbfb;
  height: 50px;
  margin: 0px;
  padding-left: 10px;
}
.aboutSpace > h2 {
  margin: 0px auto;
  padding-top: 10px;
}
p, li {
  margin: 10px 10px;;
}
.submitButton {
  width: 30%;
  margin: 0px 10px;
}