body {
  background: #eee;
  margin: 0 auto;
}

.container {
  display: flex;
  background: #fff;
  height: 300px;
  z-index: 0;
}

.one {
  background: yellow;
  height: 100%;
  min-width: 100%;
  z-index: 1;
}

.two {
  background: purple;
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 2;
  text-align: center;
}