body {
  background: #eee;
  margin: 0 auto;
}

.container {
  display: flex;
  background: yellow;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.two {
  background: purple;
  height: 100px;
  width: 100px;
  position: absolute;
}