body {
  background: #eee;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  background: #fff;
}

.item {
  height: 100px;
  min-width: 100px;
}

.green {
  background: green;
  flex-grow: 1;
}

.yellow {
  background: yellow;
  flex-grow: 2;
}

.purple {
  background: purple;
  flex-grow: 1;
}