<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test Exam</title>
  <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
  <div class="message"></div>
  <form>
    <label for="url">URL</label>
    <input type="url" name="url" id="url"/>
    <label for="alias">Alias</label>
    <input type="text" name="alias" id="alias"/>
    <button type="button" class="button">Submit</button>
  </form>
  <script type="text/javascript" src="./index.js"></script>
</body>
</html>