body {
  background: #eee;
  margin: 0 auto;
}

.top {
  display: flex;
  background: purple;
  height: 80px;
  margin: 2% 5% 0 5%;
  align-items: center;
  justify-content: flex-start;
}

.button {
  list-style: none;
  background: turquoise;
  height: 50%;
  margin: 15px 0px 15px 15px;
}

.one {
  width: 130px;
}
.two {
  width: 100px;
}
.three {
  width: 110px;
}

.bottom {
  display: flex;
  background: yellow;
  height: 1000px;
  margin: 0% 5% 2% 5%;
  align-items: center;
  justify-content: flex-start;
}
