body {
  background: #eee;
  margin: 0 auto;
}

.container {
  display: flex;
  background: yellow;
  height: 300px;
  padding-left: 0;
}

.item {
  list-style: none;
  background: purple;
  height: 100px;
  width: 100px;
  justify-content: flex-start;
  padding-left: 0;
}