<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Main Page</title>
    <link rel="Stylesheet" type="text/css" href="../assets/style.css" />
  </head>
  <body>
    <header>
      <h1>Space</h1>
      <p>Have you Reddit already?</p>
    </header>
    <div class="container">
      <main>
        <article>
          <div class="post">
            <div class="vote">
              <img src="../assets/arrows/upvote.png" class="item arrow"></img>
              <p class="item voteCount">10</p>
              <img src="../assets/arrows/downvote.png" class="item arrow"></img>
            </div>
            <div class="reddit">
              <h3 class="title">title</h3>
              <p class="url">url</p>
            </div>
          </div>
        </article>
      </main>
      <aside>
        <button>Submit a new post</button>
        <div class="title">
          <div class="aboutSpace">
          <h2>ABOUD <a href="https://www.reddit.com/r/space">r/space</a></h2>
          </div>
          <div>
          <p>Share and discuss informative content</p>
          <li>Astrophysics</li>
          <li>Cosmology</li>
          <li>Space Exploration</li>
          <li>Planetary Science</li>
          <li>Astrobiology</li>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
