<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Main Page</title>
    <link rel="Stylesheet" type="text/css" href="../assets/style.css" />
  </head>
  <body>
    <header>
      <h1>Space</h1>
      <p>Have you Reddit already?</p>
      </header>
    <div class="container">
      <main>
        <ul>
          <li class="post">Post 1</li>
          <li class="post">Post 2</li>
        </ul>
      </main>
      <aside>
        <button class="2button">Submit a new post</button>
        <div class="title">
          <p>ABOUT r/space</p>
          <div class="about">
            <p>Share and discuss informative content</p>
            <li>Astrophysics</li>
            <li>Cosmology</li>
            <li>Space Exploration</li>
            <li>Planetary Science</li>
            <li>Astrobiology</li>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>