<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Submit post</title>
    <link rel="Stylesheet" type="text/css" href="../assets/style.css" />
  </head>
  <body>
    <header>
      <h1>Space</h1>
      <p>Submit a new Jessica Alba</p>
    </header>
    <div class="container">
      <main>
          <div>
              <label for="name"><font color="red">*</font>title</label><br>
              <textarea id="msg" name="user_message"></textarea>
            </div>
            <div>
              <label for="msg">URL</label><br>
              <input type="text">
            </div>
      </main>
    </div>
    <button class="submitButton">Submit</button>
  </body>
</html>